# Dependency folder (Do not upload this)
node_modules/

# Local session/auth data (Your WhatsApp session keys)
auth_info/
session/
baileys_auth/

# Environment files (Where you hide your keys)
.env
.env.local

# Logs and Debug files
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db
